$text: #000;
$pink: #e30e67;
$pink-hover: #ff1778;
$green: #7ad046;
$border: #e4e4e4;
$black: #000;
$red: #e23825;
$header-color: #c4cad5;
//image
$images: 'https://cdn.myshoptet.com/usr/www.heliumking.sk/user/documents/upload/sablona-nemazat/';
